@import "admin/base/mixin";
@import "admin/layouts/custom";
@import "admin/layouts/sidebar";
@import "admin/layouts/header";
@import "admin/layouts/profile";
@import "admin/layouts/admin_list";




#expense_all_table {
    thead {
        background-color: #A8D3E0;
    }
}

#income_all_table {
    thead {
        background-color: #A8D3E0;
    }
}

.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
    border: 2px solid #bde8e8;
}

.category-select {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .category_check {
        label {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            margin-right: 15px;

            input {
                margin: 0;
                margin-right: 5px;
                padding: 0;
            }
        }
    }
}
