.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
    height: auto;
}

li.dropdown.user.user-menu a img {
    max-width: 25px;
    max-height: 25px;
    width: auto;
    height: auto;
    margin-right: 10px;
}
